<h1>Lista de productos</h1>

<article>
    <div class="card-products">
        {{#each payload}}
        <div class="card" style="width: 18rem;">
            <img src="{{this.thumbnail}}" alt="{{this.title}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{this.category}}</li>
                <li class="list-group-item">${{this.price}}</li>
                <li class="list-group-item">{{this.stock}}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="btn btn-primary">agregar al carrito</a>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="container-pagination">

        <a href="{{prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}}>Anterior</a>
        <p>Página: {{page}}</p>
        <a href="{{nextLink}}" role="button" {{#unless hasNextPage}}disabled{{/unless}}>Siguiente</a>

    </div>

</article>